
  
<div class="container">

<fieldset>
    <legend>Laboratoires
             </legend>

	  <div ng-repeat="data in laboratoires" >

    <a  href="#/laboratoire/{{data.id}}" class="square  " >
          <span style="font-size:28px" class="glyphicon glyphicon-leaf" ></span>
          <br>
          <span style="font-size:12px">Laboratoire</span>
		  <br>
          <span style="font-size:12px">{{data.libelle}}</span>
    
           </a>
           </div>
    </fieldset>
<fieldset ng-show="admin" ><legend>Utilisateurs administrateur

    <a class="btn " href="#/edit-utilisateur/0/0/0"><i class="glyphicon glyphicon-plus"></i>&nbsp;Ajouter utilisateur</a>
     </legend>

	  <div ng-repeat="data in utilisateurs" >
          
    <a  href="#/edit-utilisateur/0/0/{{data.id}}" class="square  " >
          <span style="font-size:28px" class="glyphicon glyphicon-user" ></span>
          <br>
          <span style="font-size:12px">{{data.prenom}}</span>
         <br>
          <span style="font-size:12px">{{data.nom}}</span>
    
           </a>
           </div>
                
        
    
    
    </fieldset>
</div>