
  <div class="container">
    <style>  
      .navbar-default {
    background:linear-gradient({{etude.couleur1}},{{etude.couleur2}}) !important;
   
}
      .panel-default>.panel-heading {
    background:linear-gradient({{etude.couleur1}},{{etude.couleur2}}) !important;
    color:{{etude.couleurtexte}} !important;
}

.titre {
    color:{{etude.couleurtexte}} !important;
}
    </style>
    
	<form name="myForm" >
	<div class="row">
  <div class="col-md-4"> <img width="150px" ng-show="etude.logo" src="./data/logo/{{etude.logo}}"  ><input  type="file" ngf-select ng-model="picFile" name="file"     ng-show="admin && !etude.logo" 
             accept="image/*" ngf-max-size="2MB" required>
 
      <i ng-show="myForm.file.$error.maxSize">Fichier trop volumineux
          {{picFile.size / 1000000|number:1}}MB: max {{picFile.$errorParam}}</i></div>
  

</div>
<br>
   	<div class="row">  
     <div class="col-md-4"> <button class="btn btn-primary btn-sm" ng-disabled="!myForm.$valid"  ng-show="admin && !etude.logo" 
              ng-click="uploadPic(picFile)">Envoyer</button><button  ng-show="admin && etude.logo"  class="btn btn-primary btn-sm"  ng-click="supprimerLogo(etude.id)">Supprimer</button></div>
</div>   
   
 </form>
	
	<br>

  <div class="panel panel-default" >
    <div class="panel-heading clearfix">
      <h4 class="panel-title pull-left" style="padding-top: 7.5px;">Actualité</h4>
      <div class="btn-group pull-right">
        <a ng-show="admin"  class="btn btn-primary btn-sm" ng-click="swicht()">{{actu}}</a>
        
      </div>
    </div>
    
   <form ng-show="modif" style="margin: 10px">
        <textarea   ckeditor="option" name="test" ng-model="etude.actu"  ></textarea>
           <h4 style="padding-top: 6.5px;">Personnalisation</h4>
      <span >Couleur des bandeaux</span>
           <input  colorpicker colorpicker-close-on-select type="text" ng-model="etude.couleur1" />
           <input  colorpicker colorpicker-close-on-select type="text" ng-model="etude.couleur2" />
   <span >Couleur des titres</span>
    <input colorpicker colorpicker-close-on-select type="text" ng-model="etude.couleurtexte" />

    </form>
        
     <p ng-hide="modif" ng-bind-html="actutext" style="padding:20px;"></p>
            
  
</div>

        <div ng-controller="courbeCtrl">
       
    <div class="panel panel-default"  ng-hide="datapatient.length == 0 && datamedecin.length == 0" >
    <div class="panel-heading clearfix">
      <h4 class="panel-title pull-left" style="padding-top: 7.5px;">Synthèse</h4>
    </div>
   
    <div ng-hide="datamedecin.length == 0"  google-chart chart="medecin"  style="{{cssStyle}}"></div>
    <div ng-hide="datapatient.length == 0"  google-chart chart="patient"  style="{{cssStyle}}"></div>
  </div>
   
</div>

<div class="panel panel-default">
  <div class="panel-heading clearfix">
      <h4 class="panel-title pull-left" style="padding-top: 7.5px;">Fichiers</h4>
      <div class=" pull-right">
        <div class="input-group">
      <input size="20" type="text" ng-model="query" class="form-control" placeholder="Recherche" aria-describedby="basic-addon2">
     
    </div>
      </div>
    </div>
  <div class="panel-body">
  
  <div ng-show="!!!fichiers.length">Aucun fichier présent.</div>
   <div  ng-repeat="data in fichiers | filter:query">
   <a href="/gecem/api/v1/etude/fichier/{{data.id}}" style="text-decoration: none; color:black">
         <span class="glyphicon glyphicon-file"></span> 
 
         {{data.libelle}}
    
           </a>
           </div>
  </div>
 </div>
 
 <div class="panel panel-default" ng-show="admin">
    <div class="panel-heading clearfix">
      <h4 class="panel-title pull-left" style="padding-top: 7.5px;">Utilisateurs</h4>
      <div class="btn-group pull-right">
        <a  class="btn btn-primary btn-default btn-sm"href="#/edit-utilisateur/0/{{etude.id}}/0">Ajouter</a>
        
      </div>
    </div>
   <table class="table">
        <thead>
          <tr>
            <th>Nom</th>
            <th>Prénom</th>
            <th style="width:170px">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="data in utilisateurs">
               <td>{{data.nom}}</td>
            <td>{{data.prenom}}</td>
            <td><a class="btn btn-primary btn-sm" href="#/edit-utilisateur/0/{{etude.id}}/{{data.id}}">Modfier   </a>
            <a class="btn btn-primary btn-sm"  href="#/fichiers/{{etude.id}}/{{data.id}}">Habilitation</a></td>
          </tr>
          
        </tbody>
      </table>
</div>
