
 <div class="container" >
 
            
         
  
 <div class="panel panel-default">
  <div class="panel-heading clearfix">
      <h4 class="panel-title pull-left" style="padding-top: 7.5px;">Habilitations</h4>
      <div class="btn-group pull-right">
       <button class="btn btn-primary btn-sm" style="margin:2px" onclick="history.go(-1);" 
            >Retour</button>
        
      </div>
      <div class=" pull-right">
        <div class="input-group">
      <input size="20" type="text" ng-model="query" class="form-control" placeholder="Recherche" aria-describedby="basic-addon2">
      
    </div>
      </div>
    </div>
   
  <div class="panel-body">
    
     <button class="btn btn-primary btn-sm" style="margin:2px" ng-click="changeAll()"
            >Toutes les habilitations</button>
             <button class="btn btn-primary btn-sm" style="margin:2px" " ng-click="changeAll()"
            >Aucune habilitations</button>
<table class="table">
        <thead>
          <tr>
            <th>Nom</th>
            <th> Habilitation </th>
       
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="data in fichiers | filter:query"">
               <td>{{data.libelle}}</td>
            <td> <input id="checkSlave" type="checkbox" class="checkbox1" ng-checked="{{data.flag}}"  ng-click="change(data.id)"  aria-label="Slave input">  </td>
          
          </tr>
          
        </tbody>
      </table>
      
      </div>
      </div>
    
</div>